@import url('<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:ital,wght@0,900;1,400&display=swap" rel="stylesheet">');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

.pleca {
  width: 100%;
  height: 5px;
  background-color: #572EE5; }

header {
  display: flex;
  width: 100%;
  height: 95px;
  justify-content: space-between;
  position: fixed;
  padding: 26px 26px 17px 26px;
  background-color: white;
  z-index: 4; }
  header .logo {
    width: 50px;
    height: 50px;
    font-family: 'Roboto', sans-serif; }
  header nav {
    display: flex;
    align-self: center;
    width: 15px;
    height: 15px; }
    header nav .menu {
      padding-top: 3px; }
      header nav .menu ul {
        width: 100%;
        position: absolute;
        top: 95px;
        right: 0;
        overflow: hidden;
        list-style: none;
        background: #572EE5;
        opacity: 90%;
        height: 0px; }
        header nav .menu ul li {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          height: 60px;
          position: relative;
          text-align: center;
          align-items: center;
          align-self: center;
          align-content: center; }
          header nav .menu ul li a {
            position: relative;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 15px;
            color: #FFFFFF;
            line-height: 60px;
            text-decoration: none;
            border-bottom: 1px, solid, white;
            text-align: center;
            align-items: center;
            align-self: center;
            align-content: center; }
          header nav .menu ul li .underline {
            width: 60px;
            height: 1px;
            margin-bottom: 8px;
            margin: 0, 178px, 0, 178px;
            position: relative;
            background: white; }
      header nav .menu input[type="checkbox"]:checked ~ ul {
        padding-top: 17px;
        height: 484px; }
      header nav .menu input {
        display: block;
        width: 20px;
        height: 20px;
        opacity: 0;
        z-index: 2;
        position: absolute; }
      header nav .menu .menuHamburgesa {
        display: block;
        width: 15px;
        height: 14px;
        margin-bottom: 4px;
        position: absolute;
        z-index: 1;
        visibility: visible; }
      header nav .menu .menuClose {
        display: block;
        width: 15px;
        height: 14px;
        position: absolute;
        z-index: 1;
        opacity: 0;
        visibility: hidden; }
      header nav .menu input:checked ~ .menuHamburgesa {
        opacity: 0;
        visibility: hidden; }
      header nav .menu input:checked ~ .menuClose {
        opacity: 1;
        visibility: visible; }

main {
  display: flex;
  position: relative;
  top: 95px;
  width: 100%; }
  main .gifosFind {
    display: block;
    width: 100vh;
    box-sizing: border-box; }
    main .gifosFind .divHead {
      box-sizing: border-box;
      padding: 7px 44px 0px 44px; }
      main .gifosFind .divHead h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: #572EE5;
        text-align: center;
        line-height: 33px;
        font-weight: 700;
        text-align: center; }
        main .gifosFind .divHead h2 .color {
          color: #50E3C2; }
      main .gifosFind .divHead .imgHeader {
        width: 273px;
        padding-top: 31px; }
  main .formInput {
    display: block;
    box-sizing: border-box;
    padding: 0 20px 31px 20px;
    overflow: hidden;
    position: relative; }
    main .formInput input {
      width: 100%;
      height: 50px;
      border: 1px solid #572EE5;
      border-radius: 27px;
      border-image: initial; }
    main .formInput ::placeholder {
      color: #6B7989;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-indent: 55px; }
    main .formInput .findIcon {
      position: absolute;
      right: 41px;
      top: 15px;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      z-index: 2; }
  main .divTrending {
    display: block;
    width: 100%;
    top: 31px; }
    main .divTrending h3 {
      padding: 0 70px 2px 70px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #572EE5;
      text-align: center;
      line-height: 25px; }
    main .divTrending .txtTrending {
      padding: 0 75px 91px 75px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #572EE5;
      text-align: center;
      line-height: 25px;
      font-weight: 500; }

/*# sourceMappingURL=style.css.map */
